.window-container {
     width: 100vw;
     height: 100vh;
     display: flex;
     overflow: hidden;
}

.Image{
     background: transparent;
}

.Dark{
     background: #000;
}

.chatbar {
     width: 25rem;
     height: 100%;
     border: none;
     border-right: 2px solid rgb(159, 164, 164);
     overflow: hidden;
     position: relative;
}

.header {
     width: 100%;
     height: 4rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background: #00ddff;
}

.header h2 {
     color: #fff;
     font-size: 1.5rem;
     color: aliceblue;
     margin-left: 1rem;
}

.header .more-options svg {
     width: 2rem;
     height: 2rem;
     margin: 1rem;
     color: #fff;
     cursor: pointer;
}

.chatboxes {
     height: calc(100% - 4rem);
     overflow-x: hidden;
     overflow-y: auto;
     scrollbar-width: thin;
     scrollbar-color: #00ddff transparent;
}

.add-btn {
     position: fixed;
     bottom: 2rem;
     left: 20rem;
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     color: #fff;
     font-size: 2rem;
     background: #00ddff;
     border: none;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 0 4px 8px rgb(11, 136, 178);
     cursor: pointer;
}

